<div class="well" style="margin: 0 20px;">
  <h1>Press the button if you are sure you want to COMPLETELY DELETE this project</h1>
  <a {{action "removeProject"}} class="btn btn-danger">REMOVE THIS PROJECT</a>
</div>