<div class="container">
  <h1 style="text-align: center">Lista projektów</h1>

  <p>
    {{link-to "Dodaj nowy projekt" "projects.new" class="new-project-button btn btn-info"}}
  </p>
  {{project-list list=model}}
</div>

<style>
  .project-list-element {
    transition: all .2s ease-in-out;
  }

  .project-list-element:hover {
    transform: scale(1.1);
  }
</style>
