<p>
  {{link-to "Wróć do listy projektów" "projects.index" class="btn btn-info back-button"}}
</p>
<div class="well" style="margin: 0 20px;">
  <h1>Nowy projekt</h1>
  {{partial 'projects/form'}}
</div>