<link rel="stylesheet" type="text/css" href="board.css">
<p>
  {{#link-to "projects.index" class="btn btn-primary go-to-project-list-button"}}Go to project list{{/link-to}}
</p>

{{project-name-with-change-name project=project}}
{{category-list categories=categories project=project}}

