body {
  background-color: rgb(0, 121, 191);
}

.navbar-collapse, .navbar-header, .navbar-brand, .container-fluid {
  background-color: #026AA7;
}

.go-to-project-list-button {
  margin-left: 20px;
}

.project-name a {
  color :#ffffff;
  padding: 5px;
  margin: 20px;
}

.project-name {
  margin-bottom: 20px;
}

.project-name a:hover {
  text-decoration: none;
  border-radius: 3px;
  background-color :rgba(0,0,0,.12);
}

.category-list {
  border: none;
}

ui-widget-header,
.ui-state-default,
ui-button {
  background: #CCCCCC;
  border: 1px solid #B8B8B8;
  color: #000;
  font-weight: bold;
}

.ui-dialog {
  background-color: #fcfcfc;
}

.ui-slate-add-new:hover {
  cursor: pointer;
  background-color :rgba(0,0,0,.12);
}

.add-new-category {
  background-color: #026AA7;
  padding: 10px;
  background-color :rgba(0,0,0,.12);
  cursor: pointer;
  color: white;
}

.add-new-category:hover {
  background-color :rgba(0,0,0,.20);
}
