<form {{action "save" on="submit"}}>
  <div>
    <label>
      Name
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <label>
      Order in project
      {{input type="text" value=model.orderInProject}}
    </label>
  </div>
  <div>
    <label>
      Project
      {{input type="text" value=model.project}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
