<p>
  {{link-to "Category list" "categories.index" }}
</p>

<h1>Category show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Order in project:</strong>
  <span>{{model.orderInProject}}</span>
</p>

<p>
  <strong>Project:</strong>
  <span>{{model.project}}</span>
</p>

