<h2 class="ui-state-disabled">{{category.name}}</h2>
<ul class="connectedCategory cardList {{categoryClass}}">
  {{#each cards as |card|}}
    <li data-card-id="{{card.id}}">{{card.name}}</li>
  {{/each}}
</ul>
