<div class="row">
    {{#if list.length}}
      <ul class="project-list">
        {{#each list as |project|}}
          {{project-list-tile project=project}}
        {{/each}}
      </ul>
    {{else}}
      <p id="blankslate">
        Nie znaleziono projektów
      </p>
    {{/if}}
  </div>