{{#if isServiceWorkerUnsupported}}
  <button class="btn btn-default disabled" id="enable-notifications">Notifications not
    supported
  </button>
{{else}}
  <button class="btn btn-default" id="enable-notifications">Enable notifications
  </button>
{{/if}}