<p>
  {{link-to "Permission list" "permissions.index" }}
</p>

<h1>Permission show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

